body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-color: #02022f;
    color: beige;
    font-size: 24px;
}
